:root{
    --background-color:rgb(15, 0, 32);
    --input-height: 4.5vh;
    --border-radius: 8px;
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' ;

}
body{
    background-color: var(--background-color);  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#p {
    display: flex;
    transform: translateY(20%);
    gap: 20px;
    background-color: rgb(38, 5, 60);
    z-index: -2;
    border-radius: var(--border-radius);
    justify-content: center;
    overflow: hidden;
    padding: 10px;
}
#p section{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    h1{
        color: rgb(173, 99, 231);
    }

}

.card-info:nth-child(1){
    display: flex;
    background-color: rgb(15, 0, 32,.9);
    border-radius: var(--border-radius);
    padding: 10px ;
    gap: 15px;
    width: 50%;
   }
.card-info:nth-child(2){
    background-color: rgb(15, 0, 32);
    border-radius: var(--border-radius);
    display: flex;
    padding: 10px;
    width: 50%;
    gap: 15px;
}

#c2{
    content: "Entre  para ver as tarefas pendentes e eliminar as que já não deseja realizar ";
    box-sizing: border-box;
    padding: 40px;
    line-height: 40px;
    height: 90%;
    width: 44%;
    position: absolute;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    background-color: red;


}

#c1{
    
    box-sizing: border-box;
    padding: 40px;
    line-height: 40px;
    height: 92%;
    width: 44%;
    position: absolute;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    background-color: red;


}
.card-info button{
    outline: none;
    height: var(--input-height);
    border-radius: var(--border-radius);
    border: none;
    font-size: large;
    font-family: 'poppins';
}
.card-info input{
    outline: none;
    font-size: 2.5vh;
    padding-left: 15px;
    color: var(--background-color);
    height: var(--input-height);
    border-radius: var(--border-radius);
    border: none;
}
.card-info label{
    color: rgb(122, 37, 187);
    font-weight: 450;
}
a{
    text-decoration: none;
    color: rgb(173, 99, 231);
}